html{
    border-sizing:border-box;
    font-size: 10px;
    font-family: "Open Sans", sans-serif;
}
body{
    margin: 0;
    background-color:#f3d9ff
}
nav{
    background-color: #9400d3 ;
    overflow: hidden;
}
nav a{
    color: white;
    padding: 8px 16px;
    display: block;
    float:left;
    text-decoration:none;
}
nav a:hover{
    border: 2px solid 800080;
}
.botao{
    padding: 10px 16px;
    font-size: 16px;
}
.anuncio{
    padding:10px;
}
.ad-direita{
    float: right;
}
.ad-esquerda{
    float: left;
}
.jogo{
    font-size:15px;
    text-align: center;
    padding-color: blue;
}
.recomendações{

    text-align:center;
    width:500;
    height:150;

}
.recomendações img{
    height: 100px;
    width: 150px;
}
.recomendado-1 img{
    padding: 25px;
    background-color: #9400d3;

}
.recomendado-2 img{
    padding: 25px;
    background-color: #9400d3;


}
