.topo{
    padding color: #00539f;
    margin: 0;
    padding: 20px;
    color: #00539f;
    text-shadow: 3px 3px 1px black;
    text-align: center;
    font-size: 60px;
    background-color: blue

 }
.coluna-50{
    float: left;
    width: 47%;
    padding: 15px;
}
.links a {
    color:white;
    padding: 14px 16px;
    float: left;
    display: block;
}
.links{
    overflow: hidden;
    background-color: black;
}
html{
    border-sizing:border-box;
    font-size=10px
}
body{
    margin: 0;
}
h1{
}
